---
http_interactions:
- request:
    method: get
    uri: https://api.cheddarapp.com/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6e8c9e570805e75d683a963b1290116a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"ef42e623e164e34871846180e276f9de"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-07-18T19:33:13Z","first_name":null,"has_plus":false,"id":13055,"last_name":null,"updated_at":"2012-07-18T19:33:13Z","username":"vermonster","url":"https://api.cheddarapp.com/v1/users/13055","socket":{"auth_url":"https://api.cheddarapp.com/pusher/auth","api_key":"675f10a650f18b4eb0a8","app_id":"15197","channel":"private-user-13055"}}'
  recorded_at: Thu, 19 Jul 2012 12:48:09 GMT
- request:
    method: get
    uri: https://api.cheddarapp.com/v1/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6e8c9e570805e75d683a963b1290116a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"effa1df3b2c32272dc97105b505495f4"'
    body:
      encoding: US-ASCII
      string: ! '[{"archived_at":null,"created_at":"2012-07-18T19:33:13Z","id":24200,"position":1,"slug":"QM8","title":"Learn
        Cheddar","updated_at":"2012-07-18T19:33:13Z","url":"https://api.cheddarapp.com/v1/lists/24200","user":{"created_at":"2012-07-18T19:33:13Z","first_name":null,"has_plus":false,"id":13055,"last_name":null,"updated_at":"2012-07-18T19:33:13Z","username":"vermonster","url":"https://api.cheddarapp.com/v1/users/13055","socket":{"auth_url":"https://api.cheddarapp.com/pusher/auth","api_key":"675f10a650f18b4eb0a8","app_id":"15197","channel":"private-user-13055"}}},{"archived_at":"2012-07-19T12:29:26Z","created_at":"2012-07-19T12:27:58Z","id":24393,"position":2,"slug":"QT9","title":"Foobar","updated_at":"20[...]
- request:
    method: get
    uri: https://api.cheddarapp.com/v1/lists/24200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6e8c9e570805e75d683a963b1290116a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d5b700b4c1fd3d224d3c3e8b407f6771"'
    body:
      encoding: US-ASCII
      string: ! '{"archived_at":null,"created_at":"2012-07-18T19:33:13Z","id":24200,"position":1,"slug":"QM8","title":"Learn
        Cheddar","updated_at":"2012-07-18T19:33:13Z","url":"https://api.cheddarapp.com/v1/lists/24200","user":{"created_at":"2012-07-18T19:33:13Z","first_name":null,"has_plus":false,"id":13055,"last_name":null,"updated_at":"2012-07-18T19:33:13Z","username":"vermonster","url":"https://api.cheddarapp.com/v1/users/13055","socket":{"auth_url":"https://api.cheddarapp.com/pusher/auth","api_key":"675f10a650f18b4eb0a8","app_id":"15197","channel":"private-user-13055"}}}'
  recorded_at: Thu, 19 Jul 2012 12:48:11 GMT
- request:
    method: post
    uri: https://api.cheddarapp.com/v1/lists
    body:
      encoding: US-ASCII
      string: ! '{"list": {"title":"Foobar"}}'
    headers:
      Authorization:
      - Bearer 6e8c9e570805e75d683a963b1290116a
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"a8ef28501d5f39721c4cfe5921544011"'
      Location:
      - https://api.cheddarapp.com/lists/24398
    body:
      encoding: US-ASCII
      string: ! '{"archived_at":null,"created_at":"2012-07-19T12:48:12Z","id":24398,"position":6,"slug":"QTE","title":"Foobar","updated_at":"2012-07-19T12:48:12Z","url":"https://api.cheddarapp.com/v1/lists/24398","user":{"created_at":"2012-07-18T19:33:13Z","first_name":null,"has_plus":false,"id":13055,"last_name":null,"updated_at":"2012-07-18T19:33:13Z","username":"vermonster","url":"https://api.cheddarapp.com/v1/users/13055","socket":{"auth_url":"https://api.cheddarapp.com/pusher/auth","api_key":"675f10a650f18b4eb0a8","app_id":"15197","channel":"private-user-13055"}}}'
  recorded_at: Thu, 19 Jul 2012 12:48:12 GMT
- request:
    method: get
    uri: https://api.cheddarapp.com/v1/lists/24200/tasks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6e8c9e570805e75d683a963b1290116a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"74e53991f1f482ee7ffe36665acf0b4e"'
    body:
      encoding: US-ASCII
      string: ! '[{"archived_at":null,"completed_at":null,"created_at":"2012-07-18T19:33:13Z","display_html":"Welcome
        to Cheddar! Click the checkbox to complete tasks","display_text":"Welcome
        to Cheddar! Click the checkbox to complete tasks","id":182736,"list_id":24200,"position":1,"text":"Welcome
        to Cheddar! Click the checkbox to complete tasks","updated_at":"2012-07-18T19:33:13Z","entities":[],"tags":[],"url":"https://api.cheddarapp.com/v1/tasks/182736"},{"archived_at":null,"completed_at":null,"created_at":"2012-07-18T19:33:13Z","display_html":"Type
        in the box and press enter to make new tasks","display_text":"Type in the
        box and press enter to make new tasks","id":182737,"list_id":24200,"position":2,"text":"Type
        in the box and press enter to make new tasks","updated_at":"2012-07-18T19:33:13Z","entities":[],"tags":[],"url":"https://api.cheddarapp.com/v1/tasks/182737"},{"archived_at":null,"completed_at":null,"created_at":"2012-07-18T19:33:13Z","display_html":"Use
        <a href=\"http://daringfireball.net/projects/markdown\" rel=\"external nofollow\"
        class=\"link\">Markdown</a> in your tasks for extra <strong>awesome</strong>.
        Read the <a href=\"https://cheddarapp.com/text\" rel=\"external nofollow\"
        class=\"link\">super simple guide</a>.","display_text":"Use Markdown in your
        tasks for extra awesome. Read the super simple guide.","id":182738,"list_id":24200,"position":3,"text":"Use
        [Markdown](http://daringfireball.net/projects/markdown) in your tasks for
        extra **awesome**. Read the [super simple guide](https://cheddarapp.com/text).","updated_at":"2012-07-18T19:33:13Z","entities":[{"type":"link","text":"[Markdown](http://daringfireball.net/projects/markdown)","display_text":"Markdown","indices":[4,59],"url":"http://daringfireball.net/projects/markdown","display_indices":[4,12]},{"type":"double_emphasis","text":"**awesome**","display_text":"awesome","indices":[84,95],"display_indices":[37,44]},{"type":"link","text":"[super
        simple guide](https://cheddarapp.com/text)","display_text":"super simple guide","indices":[106,155],"url":"https://cheddarapp.com/text","display_indices":[55,73]}],"tags":[],"url":"https://api.cheddarapp.com/v1/tasks/182738"},{"archived_at":null,"completed_at":null,"created_at":"2012-07-18T19:33:13Z","display_html":"Use
        <a href=\"#tag-tags\" class=\"tag\">#tags</a> to organize your tasks","display_text":"Use
        #tags to organize your tasks","id":182739,"list_id":24200,"position":4,"text":"Use
        #tags to organize your tasks","updated_at":"2012-07-18T19:33:13Z","entities":[{"type":"tag","text":"#tags","display_text":"#tags","indices":[4,9],"tag_name":"tags","display_indices":[4,9]}],"tags":[{"id":30,"name":"tags"}],"url":"https://api.cheddarapp.com/v1/tasks/182739"},{"archived_at":null,"completed_at":null,"created_at":"2012-07-18T19:33:13Z","display_html":"Click
        the pencil next to a task or the title of your list to edit it","display_text":"Click
        the pencil next to a task or the title of your list to edit it","id":182740,"list_id":24200,"position":5,"text":"Click
        the pencil next to a task or the title of your list to edit it","updated_at":"2012-07-18T19:33:13Z","entities":[],"tags":[],"url":"https://api.cheddarapp.com/v1/tasks/182740"},{"archived_at":null,"completed_at":null,"created_at":"2012-07-18T19:33:13Z","display_html":"Click
        <em>Archive Tasks</em> in the top right to archive lots of tasks at once","display_text":"Click
        Archive Tasks in the top right to archive lots of tasks at once","id":182741,"list_id":24200,"position":6,"text":"Click
        *Archive Tasks* in the top right to archive lots of tasks at once","updated_at":"2012-07-18T19:33:13Z","entities":[{"type":"emphasis","text":"*Archive
        Tasks*","display_text":"Archive Tasks","indices":[6,21],"display_indices":[6,19]}],"tags":[],"url":"https://api.c[...]
- request:
    method: put
    uri: https://api.cheddarapp.com/v1/lists/24200
    body:
      encoding: US-ASCII
      string: ! '{"list": {"title":"Learn Vermonster"}}'
    headers:
      Authorization:
      - Bearer 6e8c9e570805e75d683a963b1290116a
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"244e1248ad5cfb680fe1d78ef47f2102"'
    body:
      encoding: US-ASCII
      string: ! '{"archived_at":null,"created_at":"2012-07-18T19:33:13Z","id":24200,"position":1,"slug":"QM8","title":"Learn
        Vermonster","updated_at":"2012-07-19T17:27:55Z","url":"https://api.cheddarapp.com/v1/lists/24200","user":{"created_at":"2012-07-18T19:33:13Z","first_name":null,"has_plus":false,"id":13055,"last_name":null,"updated_at":"2012-07-18T19:33:13Z","username":"vermonster","url":"https://api.cheddarapp.com/v1/users/13055","socket":{"auth_url":"https://api.cheddarapp.com/pusher/auth","api_key":"675f10a650f18b4eb0a8","app_id":"15197","channel":"private-user-13055"}}}'
  recorded_at: Thu, 19 Jul 2012 17:27:55 GMT
recorded_with: VCR 2.2.3
