---
http_interactions:
- request:
    method: get
    uri: https://api.cheddarapp.com/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6e8c9e570805e75d683a963b1290116a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"ef42e623e164e34871846180e276f9de"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-07-18T19:33:13Z","first_name":null,"has_plus":false,"id":13055,"last_name":null,"updated_at":"2012-07-18T19:33:13Z","username":"vermonster","url":"https://api.cheddarapp.com/v1/users/13055","socket":{"auth_url":"https://api.cheddarapp.com/pusher/auth","api_key":"675f10a650f18b4eb0a8","app_id":"15197","channel":"private-user-13055"}}'
  recorded_at: Thu, 19 Jul 2012 12:48:06 GMT
- request:
    method: get
    uri: https://api.cheddarapp.com/v1/tasks/182736
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6e8c9e570805e75d683a963b1290116a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"adc000a51348ecea8be75c8b75be10ac"'
    body:
      encoding: US-ASCII
      string: ! '{"archived_at":null,"completed_at":null,"created_at":"2012-07-18T19:33:13Z","display_html":"Welcome
        to Cheddar! Click the checkbox to complete tasks","display_text":"Welcome
        to Cheddar! Click the checkbox to complete tasks","id":182736,"list_id":24200,"position":1,"text":"Welcome
        to Cheddar! Click the checkbox to complete tasks","updated_at":"2012-07-18T19:33:13Z","entities":[],"tags":[],"url":"https://api.cheddarapp.com/v1/tasks/182736"}'
  recorded_at: Thu, 19 Jul 2012 12:48:07 GMT
- request:
    method: get
    uri: https://api.cheddarapp.com/v1/lists/24200/tasks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6e8c9e570805e75d683a963b1290116a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"74e53991f1f482ee7ffe36665acf0b4e"'
    body:
      encoding: US-ASCII
      string: ! '[{"archived_at":null,"completed_at":null[...]
