---
http_interactions:
- request:
    method: get
    uri: https://api.cheddarapp.com/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6e8c9e570805e75d683a963b1290116a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"ef42e623e164e34871846180e276f9de"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-07-18T19:33:13Z","first_name":null,"has_plus":false,"id":13055,"last_name":null,"updated_at":"2012-07-18T19:33:13Z","username":"vermonster","url":"https://api.cheddarapp.com/v1/users/13055","socket":{"auth_url":"https://api.cheddarapp.com/pusher/auth","api_key":"675f10a650f18b4eb0a8","app_id":"15197","channel":"private-user-13055"}}'
  recorded_at: Thu, 19 Jul 2012 12:48:06 GMT
- request:
    method: get
    uri: https://api.cheddarapp.com/v1/tasks/182736
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6e8c9e570805e75d683a963b1290116a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"adc000a51348ecea8be75c8b75be10ac"'
    body:
      encoding: US-ASCII
      string: ! '{"archived_at":null,"completed_at":null,"created_at":"2012-07-18T19:33:13Z","display_html":"Welcome
        to Cheddar! Click the checkbox to complete tasks","display_text":"Welcome
        to Cheddar! Click the checkbox to complete tasks","id":182736,"list_id":24200,"position":1,"text":"Welcome
        to Cheddar! Click the checkbox to complete tasks","updated_at":"2012-07-18T19:33:13Z","entities":[],"tags":[],"url":"https://api.cheddarapp.com/v1/tasks/182736"}'
  recorded_at: Thu, 19 Jul 2012 12:48:07 GMT
- request:
    method: get
    uri: https://api.cheddarapp.com/v1/lists/24200/tasks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6e8c9e570805e75d683a963b1290116a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"74e53991f1f482ee7ffe36665acf0b4e"'
    body:
      encoding: US-ASCII
      string: ! '[{"archived_at":null,"completed_at":null[...]
- request:
    method: get
    uri: https://api.cheddarapp.com/v1/tasks/24200
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6e8c9e570805e75d683a963b1290116a
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"error":"unauthorized","error_description":"You don''t have access
        to this list."}'
  recorded_at: Sun, 22 Jul 2012 02:53:35 GMT
- request:
    method: put
    uri: https://api.cheddarapp.com/v1/tasks/
    body:
      encoding: US-ASCII
      string: ! '{"task": {"text":"Welcome to Vermonster!"}}'
    headers:
      Authorization:
      - Bearer 6e8c9e570805e75d683a963b1290116a
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<!DOCTYPE html>\n<html>\n<head>\n  <title>The page you were looking
        for doesn't exist (404)</title>\n  <style type=\"text/css\">\n    body { background-color:
        #fff; color: #666; text-align: center; font-family: arial, sans-serif; }\n
        \   div.dialog {\n      width: 25em;\n      padding: 0 4em;\n      margin:
        4em auto 0 auto;\n      border: 1px solid #ccc;\n      border-right-color:
        #999;\n      border-bottom-color: #999;\n    }\n    h1 { font-size: 100%;
        color: #f00; line-height: 1.5em; }\n  </style>\n</head>\n\n<body>\n  <!--
        This file lives in public/404.html -->\n  <div class=\"dialog\">\n    <h1>The
        page you were looking for doesn't exist.</h1>\n    <p>You may have mistyped
        the address or the page may have moved.</p>\n  </div>\n</body>\n</html>\n"
  recorded_at: Sun, 22 Jul 2012 02:53:36 GMT
[...]
- request:
    method: post
    uri: https://api.cheddarapp.com/v1/lists/24200/tasks
    body:
      encoding: US-ASCII
      string: ! '{"task": {"text":"Foo to the bar."}}'
    headers:
      Authorization:
      - Bearer 6e8c9e570805e75d683a963b1290116a
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"8dd90521b1d6c0028e31994eebe893f6"'
      Location:
      - https://api.cheddarapp.com/v1/tasks/209582
    body:
      encoding: US-ASCII
      string: ! '{"archived_at":null,"completed_at":null,"created_at":"2012-07-28T22:39:22Z","display_html":"Foo
        to the bar.","display_text":"Foo to the bar.","id":209582,"list_id":24200,"position":10,"text":"Foo
        to the bar.","updated_at":"2012-07-28T22:39:22Z","entities":[],"tags":[],"url":"https://api.cheddarapp.com/v1/tasks/209582"}'
  recorded_at: Sat, 28 Jul 2012 22:39:22 GMT
- request:
    method: post
    uri: https://api.cheddarapp.com/v1/lists/24393/tasks/archive_completed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6e8c9e570805e75d683a963b1290116a
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sat, 28 Jul 2012 23:01:43 GMT
- request:
    method: get
    uri: https://api.cheddarapp.com/v1/lists/24393
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6e8c9e570805e75d683a963b1290116a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"644e726d0add3fc2b21e9cade1a083ec"'
    body:
      encoding: US-ASCII
      string: ! '{"archived_at":"2012-07-19T12:29:26Z","created_at":"2012-07-19T12:27:58Z","id":24393,"position":2,"slug":"QT9","title":"Foobar","updated_at":"2012-07-19T12:29:27Z","url":"https://api.cheddarapp.com/v1/lists/24393","user":{"created_at":"2012-07-18T19:33:13Z","first_name":null,"has_plus":false,"id":13055,"last_name":null,"updated_at":"2012-07-18T19:33:13Z","username":"vermonster","url":"https://api.cheddarapp.com/v1/users/13055","socket":{"auth_url":"https://api.cheddarapp.com/pusher/auth","api_key":"675f10a650f18b4eb0a8","app_id":"15197","channel":"private-user-13055"}}}'
  recorded_at: Sat, 28 Jul 2012 23:01:43 GMT
[...]
- request:
    method: post
    uri: https://api.cheddarapp.com/v1/lists/24393/tasks/archive_all
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6e8c9e570805e75d683a963b1290116a
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sat, 28 Jul 2012 23:03:01 GMT
[...]
- request:
    method: put
    uri: https://api.cheddarapp.com/v1/tasks/209582/move
    body:
      encoding: US-ASCII
      string: ! '{"task": { "list_id": 24398 } }'
    headers:
      Authorization:
      - Bearer 6e8c9e570805e75d683a963b1290116a
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"858b3251326f3aa6bd3ed751cd34650b"'
    body:
      encoding: US-ASCII
      string: ! '{"archived_at":null,"completed_at":null,"created_at":"2012-07-28T22:39:22Z","display_html":"Foo
        to the bar.","display_text":"Foo to the bar.","id":209582,"list_id":24398,"position":1,"text":"Foo
        to the bar.","updated_at":"2012-07-29T22:55:27Z","entities":[],"tags":[],"url":"https://api.cheddarapp.com/v1/tasks/209582"}'
  recorded_at: Sun, 29 Jul 2012 22:55:27 GMT
recorded_with: VCR 2.2.3
